<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    
    <header>
        {{user.firstName}} {{user.lastname}}
        <div><a href="/highscores">Look at Scores</a></div>
        <div><a href="/gamepage">check out the games</a></div>
        <div><a href="/logout">logout</a></div>
        <div><a href="/login">dashboard</a></div>
    </header>
    
    {% for game in games %}
    <div><a href="/playgame/{{game.id}}">click to play {{game.name}} <a href="/addfavgame/{{game.id}}">add to favorites</a></a></div>
    {% endfor %}
</body>
</html>