
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
    <body>
        <div class="highscorelist">
                {% for key, value in Model.items%}
            <div class="tables">
                <h1 class="header">{{key}}</h1>
                <table class="tables">
                    <tr>
                        <th>
                            Name
                        <th>
                            Score
                        </th>
                        <th>
                            TimeStamp
                        </th>
                    </tr>
                    {% for score in value %}
                    <tr>
                        <td>
                            {{score.userName}}
                        </td>
                        <td>
                            {{score.score}}
                        </td>
                        <td>
                            {{score.timestamp}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                {% endfor %}
        </div>
        
        <div>
            <a href="/login">index</a>
        </div>
    </body>
</html>