{% extends "headertemp.html" %}
    <p>test template index</p>
    {{user.firstName}}
    <div><a href="/highscores">Look at Scores</a></div>
    <div><a href="/gamepage">check out the games</a></div>
    <div><a href="/logout">logout</a></div>



    <table>
        <th>
            <td>Fav Games</td>
        </th>
        <tb>
        {% for game in favgame %}
            
            <tr>
                <td><a href="playgame/{{game.id}}">{{game.name}}</a></td>
                <td><a href="deletefavgame/{{game.id}}">delete from fav</a></td>
            </tr>
            
        {% endfor %}

        </tb>
    </table>