
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <title>Document</title>
    </head>
<body>

    
    
    <p>test template index</p>
    {{user.firstName}}
    <div><a href="/highscores">Look at Scores</a></div>
    <div><a href="/gamepage">check out the games</a></div>
    <div><a href="/login">dashboard</a></div>
    <div><a href="/logout">logout</a></div>
    
    
    
    <table>
        <th>
            <td>Fav Games</td>
        </th>
        <tb>
        {% for game in favgame %}
            
            <tr>
                <td><a href="playgame/{{game.id}}">{{game.name}}</a></td>
                <td><a href="deletefavgame/{{game.id}}">delete from fav</a></td>
            </tr>
            
        {% endfor %}
    
        </tb>
    </table>
</body>
</html>