{% extends "base.html" %}
{% block content %}
    <div class="gamecoms">
        <div class="favcolumn">
            <table>
                <th>
                    <td>Fav Games</td>
                </th>
                <tb>
                {% for game in favgame %}
                    <tr>
                        <td><a href="playgame/{{game.id}}">{{game.name}}</a></td>
                        <td><a href="deletefavgame/{{game.id}}">delete from fav</a></td>
                    </tr>
                    
                    
                    {% endfor %}
                </tb>
            </table>
        </div>
        
        <div class="comments">
            <h2>Comments</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/adduserComment" method = 'post' style="display:flex ">
                {%csrf_token%}
                <input type="hidden" value="{{user.id}}" name="users_id">
                <div class="games">
                    <div style="text-align:left ">
                        <label for="games_id">Select a game</label>
                    </div>
                        <select name="games_id" >
                            {% for game in games %}
                            <option value="{{game.id}}">{{game.name}}</option>
                            {% endfor %}
                        </select>
                </div>
                    <div class="textsub">
                        <div>
                            <label for="comment">add some comments</label>
                        </div>
                                <textarea name="comment" cols="15" rows="2"></textarea>
                                <input type="submit" value="add comment">
                            </form>
                    </div>
            {% for comment in comments %}
            {% if user.id == comment.users_id_id %}
                    <p>{{comment.comment}}</p><a href="/deleteComment/{{comment.id}}">delete comment</a>
                    <button onclick="showUpdates('commentdiv{{comment.id}}')">update comment</button>
        
                        <div class="commentdiv" id="commentdiv{{comment.id}}" style="display: none;">
                            <form action="/updatecomment/{{comment.id}}" method="post">
                                {%csrf_token%}
                                <input type="hidden" value="{{user.id}}" name="users_id">
                                <textarea name="comment" value="{{comment}}" cols="15" rows="2">{{comment.comment}}</textarea>
                                <input type="submit" value="Submit Updated Comment">
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
{% endblock %}
