<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <title>Document</title>

</head>

<body>
<!-- <img src="https://a-z-animals.com/media/2022/02/shutterstock_1821804320-600x314.jpg" alt="thisbetterworkjustina"> -->
    <container class="loginfull">
        <h1>WELCOME TO GAME HUB</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/attemptlogin" method="post" class="logsform">
            {%csrf_token%}
            <div>
                Email: <input type="text" name="email">
            </div>
            <div>
                Password: <input type="password" name="password">
            </div>
            <div>
                <input type="submit">
            </div>
            <a href="/register">Register</a>
        </form>
    </container>
</body>
</html>
