{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/create_user" method="post">
    {%csrf_token%}
    <div>
        Email: <input type="text" name="email">
    </div>
    <div>
        Password: <input type="password" name="password">
    </div>
    <div>
        Confirm Password: <input type="password" name="confirmpass"
    </div>
    <div>
        FirstName: <input type="text" name="firstName">
    </div>
    <div>
        LastName: <input type="text" name="lastName">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
<a href="/">Back to login</a>