<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

    <title>Whack that MOLEEEEE</title>

</head>

<body>

    
    <header>
        {{user.firstName}} {{user.lastname}}
        <div><a href="/highscores">Look at Scores</a></div>
        <div><a href="/gamepage">check out the games</a></div>
        <div><a href="/login">dashboard</a></div>
        <div><a href="/logout">logout</a>
    </header>
        

            <div class="wackycomments">
                <div class="wackygame">
                    <form action="/insertscore" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="games_id" value="{{this_game_id.id}}">
                        <!-- <input type="hidden" name="user.id" value="{{user.id}}"> -->
                        <h2>SCORE:</h2>
                        <h2 id="score">0</h2>
                        <input type="hidden" name="score" id="test" value="0">
                        <h2>Time left:</h2>
                        <h2 id="timeLeft">5</h2>
                        <p class="timesup"></p>
                        <input type="submit" value="submit the score">
                    </form>
                    <button class="start" onclick="StartGame()">click to start</button>
                    <a href="/playgame/{{this_game_id.id}}">restart game</a>
                    <div class="grid">
                        <div class="square" id="1"></div>
                        <div class="square" id="2"></div>
                        <div class="square" id="3"></div>
                        <div class="square" id="4"></div>
                        <div class="square" id="5"></div>
                        <div class="square" id="6"></div>
                        <div class="square" id="7"></div>
                        <div class="square" id="8"></div>
                        <div class="square" id="9"></div>
                    </div>
                </div>
                <div class="CBM">
                    <div class="comments" id="showcomments" ">
                        {% for comment in comments %}
                        <p>
                            {{comment.comment}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

        
        <script src=" {%static 'app.js'%}">
            </script>
</body>

</html>