<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css"  type="text/css">
    <script type="text/js">
        function getVal(){
            var thescore = document.getElementById('scoreform').innerHTMLW
            thescore=document.getElementId('score').innerHTML
            return thescore;
        }
    </script>
    {%load static%}
    <title>Whack that MOLEEEEE</title>
    
</head>
<body>

<div class="container">

    <header>
        {{user.firstName}}
        <a href='/gamepage' class="return">go back to pick a new game :D</a>
        <a href="/highscores" class="return">check out the highscores in this game</a>
    </header>
    



    <form action="">
        <input type="hidden" name="gameName">
        <h2>SCORE:</h2>
        <h2 id="score">0</h2>
        
        <h2>Time left:</h2>
        <h2 id="timeLeft">5</h2>
            <p class="timesup"></p>
        <button class="start" onclick="StartGame()">click to start</button>
        
        
    </form>
    <a href="/playgame/{{this_game_id.id}}">restart page</a>
    
    <div>
        <form action="subscore" method = "post">
            <input type="hidden" name="gameName">

            <label for="user">name</label>
            <input type="text" name="user" value="{{user.firstName}}" readonly>
            <script class="hiddenscore">
                document.getElementById("score").innerHTML
            </script>
            <label for="result"> <script>document.write({thescore})</script> </label>
            <input type="text" name="score" id="scoreform" value='{#score}' readonly>
            <input type="submit" name="score" >
        </form>
    </div>

        <div class="grid">
            <div class="square" id="1"></div>
            <div class="square" id="2"></div>
            <div class="square" id="3"></div>
            <div class="square" id="4"></div>
            <div class="square" id="5"></div>
            <div class="square" id="6"></div>
            <div class="square" id="7"></div>
            <div class="square" id="8"></div>
            <div class="square" id="9"></div>
        </div>
    
        
    </div>
    
    <script src="{%static 'app.js'%}"></script>
</body>
</html>