/* universal styles */
body {
    background-color: black !important;
    color: red !important;
    align-items: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* this is the styling for wackamole game */
.grid{
    width: 40%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    /* border: 4px turquoise groove; */
}

.square{
    width: 33%;
    height: 33%;
    border:solid white 0.5px;
}

.mole {
    background-color: green;
}

.return{

    text-decoration: none;
    color: red;
    border: 2px white groove;
}

.return:visited {
    text-decoration: none;
    color: red;
}

.container{
    width: 100vw;
    height: 100vh;
}

/* styling for the highscores */
.highscorelist{
    background-color: teal;
    display: flex;
    justify-content: space-around;
}
.header{
    display: block !important ;
    align-items: center;
}
.tables{
    display:flex;
    flex-wrap: wrap;
}


/* login styles */

.logsform{
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

